<!DOCTYPE html>
<html>
    <head>
        <title>Add employeees</title>
        <link href="/styles.css" rel="stylesheet" type="text/css"/>
    </head>
    <body id="payoffertorybody">
        <h1>Pay tithe</h1>
        <div id="payoffertory">
            
            <form id="payoffertoryform" method="POST" action="/pay_offertory">  
               <p id="namelabel">Full Name  <input type="text" name="name" placeholder="input name" required/></p>
                <br>
                <p id="inputlabel">Phone Number <input type="number" name="phone_number" placeholder="input name" required/></p></p>
                <p>Amount <input type="number" name="amount" placeholder="input name" required/></p></p>
                    <button type="submit" >sumbit</button>
            </form>
        </div>
    </body>
</html>